<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

  <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

  <h1>Collected Lessons</h1>
  <ul>
    <% lessons.forEach(lesson => { %>
      <li>
        <strong>Week Number:</strong> <%= lesson.weekNumber %> <br>
        <strong>URL:</strong> <a href="<%= lesson.url %>"><%= lesson.url %></a> <br>
        <strong>Title:</strong> <%= lesson.title %> <br>
        <strong>Date Range:</strong> <%= lesson.dateRange %> <br>
        <strong>Scripture:</strong> <%= lesson.scripture %> <br>
      </li>
    <% }) %>
  </ul>
  <a href="/">Back to form</a>

  
<%- include('partials/footer') -%>